{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-outline-`success ml-2" type="submit">Login</button>
	<!--<a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>-->
	<a href="{% url 'password_reset' %}" class="btn btn-outline-danger ml-2">Forgot Password?</a>

</form>
{% endblock %}